li {
    float: left;
  }
  
  a {

    padding: 1px;
  }
  body, html {
    height: 100%;
}
h1 :hover {
    color: darkslateblue;
}
@media only screen and (max-width: 600px) {
    .navbar {
        font-size: 0.5em;
        padding: 0;
    }
}
.navbar {
    background-color: blueviolet;
    /* padding: 10px; */
    margin: 0px;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/image1.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.container {
    /* background-color: slategray; */
    margin: 0px;
}
.container {
    float: right;
    background-color: palegreen; 
}
.footer {
    background-color: lightgray;
}
p:hover {
    color: rebeccapurple;
}
.jose {
    background-color: royalblue;
}
.olowo {
        background-color: #FFF;
        position:fixed;
        bottom: 0px;
        width: 100%;
        text-align: center;
        }
        